<main>
    <h1>Atualiza jogo</h1>
    <section id="section-cadastro">
        <form *ngIf="product">

            <label for="product">Id</label>
            <input type="text" class="form-control" name="id" [(ngModel)]="product.id" readonly>

            <br>

            <label for="product">Nome do Produto</label>
            <input type="text" class="form-control" name="product" [(ngModel)]="product.product">

            <br>

            <label for="description">Descrição</label>
            <input type="text" class="form-control" name="description" [(ngModel)]="product.description">

            <br>

            <label for="picture">Foto</label>
            <input type="text" class="form-control" name="picture" [(ngModel)]="product.picture">

            <br>

            <label for="price">Preço</label>
            <input type="number" class="form-control" name="price" [(ngModel)]="product.price">

            <br>

            <button type="submit" class="btn btn-primary mb-3" (click)="updateProduct(product.id)">Atualizar</button>

        </form>
    </section>

</main>