<main>

    <section id="section-vendidos" class="container-fluid">

      <h1>MELHOR QUE UM SÓ, DOIS OU MAIS</h1>

      <h2>É console o que você quer? Então leva!</h2>

      <div class="card-group"> <!-- Faz com que os cards se alinhem na horizontal-->

        <div class="card" style="width: 18rem;">
          <img src="./assets/img/console/cards/asus-rog.jpg" class="card-img-top" alt="Asus Rog">
          <div class="card-body">
            <h5 class="card-title">Asus Rog</h5>
            <p class="card-text">Console ASUS ROG Ally, AMD Ryzen Z1 Extreme, 16GB LPDDR5, SSD 512GB, Tela 7" FHD 120Hz, Windows 11 Home, Branco - 90NV0GY1-M002U0</p>
            <p class="preco">6.579,99</p>
            <a href="./login" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="./assets/img/console/cards/nintendo-switch-OLED.jpg" class="card-img-top" alt="Nintendo Switch OLED">
          <div class="card-body">
            <h5 class="card-title">Nintendo Switch OLED</h5>
            <p class="card-text">Console Nintendo Switch modelo OLED: Console, Joy-Cons e Dock personalizados com o tema de Pokémon Scarlet & Violet, tela OLED de 7", Memória interna de 64GB, dock com entrada LAN para internet a cabo.</p>
            <p class="preco">2.589,00</p>
            <a href="./login" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="./assets/img/console/cards/play-station-5.jpg" class="card-img-top" alt="PlayStation 5">
          <div class="card-body">
            <h5 class="card-title">PlayStation 5</h5>
            <p class="card-text">Jogabilidade com taxa de quadros uniforme e fluída de até 120 fps em jogos compatíveis, com suporte para saída de 120 Hz em telas 4K, saída em 8K, tempest 3D AudioTech em jogos compatíveis, gatilhos adaptáveis que simulam o impacto físico.</p>
            <p class="preco">3.799,05</p>
            <a href="./login" class="btn btn-primary">Comprar</a>
          </div>
        </div>

      </div>

      <div class="card-group"> <!-- Faz com que os cards se alinhem na horizontal-->

        <div class="card" style="width: 18rem;">
          <img src="./assets/img/console/cards/play-station-4.jpg" class="card-img-top" alt="PlayStation 4">
          <div class="card-body">
            <h5 class="card-title">PlayStation 4</h5>
            <p class="card-text">Armazenamento com 1 TB, controles DualShock®4 preto, cabo HDMI, cabo de alimentação, headset mono com fio, cabo USB para carregamento, blu-ray disc.</p>
            <p class="preco">2.618,90</p>
            <a href="./login" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="./assets/img/console/cards/xbox-series-s.jpg" class="card-img-top" alt="Xbox Series S">
          <div class="card-body">
            <h5 class="card-title">Xbox Series S</h5>
            <p class="card-text">Uso exclusivo para jogos digitais, 8K, compatível com 120 FPS, reprodução de streaming em 4K e upscaling 4K, dolby Vision HDR.</p>
            <p class="preco">2.069,99</p>
            <a href="./login" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="./assets/img/console/cards/nintendo-switch.jpg" class="card-img-top" alt="Nintendo Switch">
          <div class="card-body">
            <h5 class="card-title">Nintendo Switch</h5>
            <p class="card-text">Joy-Cons, tela de 7", Memória interna de 64GB, dock com entrada LAN para internet a cabo.</p>
            <p class="preco">2.199,00</p>
            <a href="./login" class="btn btn-primary">Comprar</a>
          </div>
        </div>

      </div>

    </section>


  </main>