<main>

    <section id="section-vendidos" class="container-fluid">

      <h2>AQUELE PREÇINHO QUE VOCÊ GOSTA</h2>

      <div class="card-group"> <!-- Faz com que os cards se alinhem na horizontal-->

        <div class="card" style="width: 18rem;">
          <img src="./assets/img/promotion/1.jpg" class="card-img-top" alt="Free Fire">
          <div class="card-body">
            <h5 class="card-title">Free Fire</h5>
            <p class="preco">190,00</p>
            <a href="./login" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="./assets/img/promotion/2.jpg" class="card-img-top" alt="lol">
          <div class="card-body">
            <h5 class="card-title">lol</h5>
            <p class="preco">290,00</p>
            <a href="./login" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="./assets/img/promotion/3.jpg" class="card-img-top" alt="God Valley">
          <div class="card-body">
            <h5 class="card-title">God Valley</h5>
            <p class="preco">150,00</p>
            <a href="./login" class="btn btn-primary">Comprar</a>
          </div>
        </div>

      </div>

      <div class="card-group"> <!-- Faz com que os cards se alinhem na horizontal-->


        <div class="card" style="width: 18rem;">
          <img src="./assets/img/promotion/4.jpg" class="card-img-top" alt="Need for Speedy">
          <div class="card-body">
            <h5 class="card-title">Need for Speedy</h5>
            <p class="preco">270,00</p>
            <a href="./login" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="./assets/img/promotion/5.jpg" class="card-img-top" alt="Street Fighter">
          <div class="card-body">
            <h5 class="card-title">Street Fighter</h5>
            <p class="preco">196,00</p>
            <a href="./login" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="./assets/img/promotion/6.jpg" class="card-img-top" alt="King's">
          <div class="card-body">
            <h5 class="card-title">King's</h5>
            <p class="preco">650,00</p>
            <a href="./login" class="btn btn-primary">Comprar</a>
          </div>
        </div>

      </div>

    </section>


  </main>