<main>
    <section id="section-banner">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/img/videogames/banner/banner1.png" class="d-block w-100" alt="crossfire">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/videogames/banner/banner2.png" class="d-block w-100" alt="fortnite">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/videogames/banner/banner3.png" class="d-block w-100" alt="league of legends">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/videogames/banner/banner4.png" class="d-block w-100" alt="pugb">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">
                    Previous
                </span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">
                    Next
                </span>
            </button>
        </div>
    </section>

    <section id="section-vendidos" class="container-fluid">

        <h2>OS MELHORES JOGOS DA ATUALIDADE</h2>

        <div class="card-group"> <!-- Faz com que os cards se alinhem na horizontal-->

            <div class="card" style="width: 18rem;">
                <img src="./assets/img/videogames/cards/atomicHeart.png" class="card-img-top" alt="Atomic Heart">
                <div class="card-body">
                    <h5 class="card-title">Atomic Heart</h5>
                    <p class="card-text">Em um mundo utópico, insano e deslumbrante, trave batalhas explosivas. Adapte
                        seu estilo de luta a cada novo oponente, tire vantagem do espaço e aprimore seus equipamentos
                        para completar a missão. O preço da verdade será pago com sangue.</p>
                    <p class="preco">199,90</p>
                    <a href="./login" class="btn btn-primary">Comprar</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="./assets/img/videogames/cards/crossFire.png" class="card-img-top" alt="Cross Fire">
                <div class="card-body">
                    <h5 class="card-title">Cross Fire</h5>
                    <p class="card-text">Crossfire é um jogo dinâmico de tiro em primeira pessoa, baseado em duas forças
                        mercenárias, Global Risk e Black List, competindo entre si. Selecione um mercenário entre os
                        vários grupos de operações especiais de todo o mundo e escolha entre um enorme arsenal de armas
                        de fogo, explosivos e armas corpo a corpo.</p>
                    <p class="preco">Free</p>
                    <a href="./login" class="btn btn-primary">Comprar</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="./assets/img/videogames/cards/fortnite.png" class="card-img-top" alt="Fortnite">
                <div class="card-body">
                    <h5 class="card-title">Fortnite</h5>
                    <p class="card-text">Explore ambientes imensos e destrutíveis que fazem sua experiência ser
                        diferente a cada partida. Junte-se com amigos, saia em disparada, faça escaladas e arrombe
                        portas para conquistar a Vitória Royale, seja com a ajuda das construções, no Battle Royale do
                        Fortnite, ou sem elas, na Construção Zero do Fortnite.</p>
                    <p class="preco">50,00</p>
                    <a href="./login" class="btn btn-primary">Comprar</a>
                </div>
            </div>

        </div>

        <div class="card-group"> <!-- Faz com que os cards se alinhem na horizontal-->

            <div class="card" style="width: 18rem;">
                <img src="./assets/img/videogames/cards/halo5.png" class="card-img-top" alt="Halo 5">
                <div class="card-body">
                    <h5 class="card-title">Halo 5</h5>
                    <p class="card-text">A saga do Master Chief continua em uma experiência individual ou cooperativa
                        para 4 jogadores em três mundos. Uma força misteriosa e implacável ameaça a galáxia. Os Spartans
                        da Esquadra Osiris e a Equipe Azul devem embarcar em uma jornada que vai mudar o rumo da
                        história e o futuro da humanidade.</p>
                    <p class="preco">249,90</p>
                    <a href="./login" class="btn btn-primary">Comprar</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="./assets/img/videogames/cards//mortalKombat.png" class="card-img-top" alt="Mortal Kombat">
                <div class="card-body">
                    <h5 class="card-title">Mortal Kombat</h5>
                    <p class="card-text">Descubra um Universo renascido de Mortal Kombat criado pelo Deus do Fogo Liu
                        Kang. Mortal Kombat 1 inaugura uma nova era da franquia icônica com um novo sistema de luta,
                        modos de jogo e fatalities!</p>
                    <p class="preco">449,90</p>
                    <a href="./login" class="btn btn-primary">Comprar</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="./assets/img/videogames/cards/theWitcher.png" class="card-img-top" alt="The Witcher">
                <div class="card-body">
                    <h5 class="card-title">The Witcher</h5>
                    <p class="card-text">Você é Geralt de Rívia, mercenário matador de monstros. Você está em um
                        continente devastado pela guerra e infestado de monstros para você explorar à vontade. Sua
                        tarefa é encontrar Ciri, a Criança da Profecia — uma arma viva que pode alterar a forma do
                        mundo.</p>
                    <p class="preco">129,99</p>
                    <a href="./login" class="btn btn-primary">Comprar</a>
                </div>
            </div>

        </div>

    </section>






</main>