main {
    min-height: 800px;
    margin-bottom: 25px;
}

p {
    margin: 0px;
}

#section-banner {
    min-height: 400px;
}

#section-banner img{
    height: 500px;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 37px;
    margin-bottom: 30px;
}

/*Produtos vendidos*/

#section-vendidos {
    text-align: center;
}

#section-vendidos h1 {
    font-weight: bold;
    padding: 20px;
    font-size: 50px;
}

#section-vendidos h2 {
    font-weight: bold;
    padding: 20px;
}

#section-vendidos img{
    height: 300px;
    border-radius: 10px;
}

#section-vendidos .card{
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#section-vendidos .preco {
    color:red;
    font-size: 18px;
    font-weight: bold;
}

