<main>
    <section id="section-banner">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/img/index/banner/banner1.png" class="d-block w-100" alt="banner play zone">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/index/banner/banner2.png" class="d-block w-100"
                        alt="banner usuário gamer jogando">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/index/banner/banner3.png" class="d-block w-100"
                        alt="banner mundo alternativo">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">
                    Previous
                </span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">
                    Next
                </span>
            </button>
        </div>
    </section>

    <h2>
        OS MAIS VENDIDOS
    </h2>

    <mat-grid-list cols="3">
        <br>
        <!------------------------------------------------------------------------------------------------------------>
        <mat-grid-tile *ngFor="let product of products">
            <br>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/index/cards/{{product.picture}}" alt="Jogo de aventura">

                <mat-card-header>
                    <mat-card-title>
                        {{product.product}}
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <p>
                        {{product.description}}
                    </p>
                </mat-card-content>

                <mat-card-actions>
                    <P>
                        {{product.price | currency: 'BRL'}}
                    </P>
                    <button mat-raised-button color="primary" id="color"><a href="./login">
                            COMPRAR
                        </a></button>
                </mat-card-actions>

            </mat-card>

        </mat-grid-tile>
        <br>
        <!------------------------------------------------------------------------------------------------------------>
    </mat-grid-list>
    <br>
</main>